.s-doctors {
  padding-top: 16px !important;
  @include tablet {
    padding-top: 0 !important;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    row-gap: 40px;
    @include laptop-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
  }
}