.s-faq {
  position: relative;
  background-color: var(--pink) !important;
  z-index: 1;

  &._blue {
    background-color: var(--blue) !important;
  }
  &._off-bg {
    background: none !important;
  }
  &._pt-table-off {
    @include tablet {
      padding-top: 0 !important;
    }
  }

  @include laptop-middle {
    background-image: none !important;
  }

  &__item {
    max-width: 960px;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 64px;
      @include laptop-middle {
        margin-bottom: 48px;
      }
      @include tablet {
        margin-bottom: 32px;
      }
      @include mobile {
        margin-bottom: 24px;
      }
    }
  }
  &__item-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    margin: 0px 0px 32px 0px;
    @include laptop-middle {
      font-size: 32px;
      line-height: 36px;
    }
    @include laptop-min {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    @include tablet {
      font-size: 24px;
      line-height: 28px;
    }
    @include mobile {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }
  &__icon {
    position: absolute;
    width: 375px;
    top: 32%;
    right: 7%;
    z-index: -1;
    @media (max-width: 1799px) {
      top: 25%;
      right: 5%;
    }
    @media (max-width: 1610px) {
      top: 22%;
      right: 0;
    }
    @media (max-width: 1420px) {
      top: 17%;
    }
    @media (max-width: 1270px) {
      top: 12%;
    }
    @include desktop {
      width: 320px;
    }
    @include laptop-middle {
      width: 100px;
      top: -50px;
    }
    @include tablet {
      width: 60px;
    }

    &._prices {
      top: 64px;
      right: 80px;
      @include desktop {
        top: 0;
        right: 0;
        width: 320px;
      }
      @include laptop-middle {
        width: 100px;
        top: -80px;
      }
    }
    &._questions {
      top: 64px;
      right: 80px;
      @include desktop {
        top: 0;
        right: 0;
        width: 320px;
      }
      @include laptop-middle {
        width: 100px;
        top: -50px;
      }
      @include tablet {
        width: 60px;
      }
    }

    img {
      width: 100%;
    }
  }
  &__title {
    text-align: center;
  }
  &__spollers {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    gap: 16px;
    @include tablet {
      gap: 8px;
    }

    &._border-pink {
      .s-faq__spoller-btn-body,
      .s-faq__spoller-item-body {
        box-shadow:
          0 0 0 1px var(--pink)
      }
    }
    &._border-blue {
      .s-faq__spoller-btn-body,
      .s-faq__spoller-item-body {
        box-shadow:
          0 0 0 1px var(--blue)
      }
    }
  }
  &__spoller {
    width: 100%;
    &._blue {
      .s-faq__spoller-btn,
      .s-faq__spoller-item {
        background-color: var(--blue);
      }
    }
  }
  &__spoller-btn {
    border-radius: 12px;
    width: 100%;
    padding: 16px;
    @include tablet {
      border-radius: 6px;
      padding: 12px;
    }
    @include mobile {
      padding: 4px;
    }

    &._spoller-active {
      .s-faq__spoller-circle {
        transform: rotate(180deg);
      }
    }
  }
  &__spoller-btn-body {
    @include flex-between;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    gap: 25px;
    width: 100%;

    text-align: start;
    font-size: 24px;
    line-height: 26px;

    @include tablet {
      font-size: 18px;
      line-height: 20px;
      padding: 12px;
      border-radius: 6px;
    }
    @include mobile {
      padding: 8px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__spoller-circle {
    @include flex-center;
    border-radius: 50%;
    background-color: var(--main);
    color: white;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    transition: transform 0.2s ease;
    @include tablet {
      width: 32px;
      height: 32px;
    }
    @include mobile {
      width: 24px;
      height: 24px;
    }

    svg {
      width: 40px;
      height: 40px;
      @include tablet {
        width: 30px;
        height: 30px;
      }
      @include mobile {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__spoller-body {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include tablet {
      padding-top: 8px;
    }
  }
  &__spoller-item {
    border-radius: 12px;
    padding: 16px;
    @include tablet {
      padding: 12px;
      border-radius: 6px;
    }
    @include mobile {
      padding: 4px;
    }
  }
  &__spoller-item-body {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 12px;
    padding: 24px 16px;

    font-size: 24px;
    line-height: 26px;

    @include tablet {
      font-size: 18px;
      line-height: 20px;
      padding: 14px 12px;
      border-radius: 6px;
      gap: 6px;
    }
    @include mobile {
      padding: 8px 6px;
      font-size: 14px;
      line-height: 16px;
      gap: 4px;
    }

    span {
      &:first-child {
        flex: 1;
        padding-right: 8px;
        border-right: 2px solid var(--blue);
        @include tablet {
          padding-right: 6px;
        }
        @include mobile {
          padding-right: 4px;
          border-width: 1px;
        }
      }
      &:last-child {
        width: 165px;
        text-align: center;
        @include tablet {
          width: 120px;
        }
        @include mobile {
          width: 80px;
        }
      }
    }
  }
  &__spoller-docs {
    padding-top: 40px;
    @include tablet {
      padding-top: 24px;
    }
  }
  &__docs-item {
    &:not(:last-child) {
      margin-bottom: 40px;
      @include tablet {
        margin-bottom: 30px;
      }
    }
  }
  &__docs-title {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 26px;
    font-size: 40px;
    line-height: 44px;
    margin: 0px 0px 40px 0px;
    @include laptop-min {
      font-size: 32px;
      line-height: 36px;
    }
    @include tablet {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 20px;
      padding-left: 12px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      left: 2px;
      border-radius: 50%;
      background-color: currentColor;
      @include laptop-min {
        width: 10px;
        height: 10px;
      }
      @include tablet {
        width: 8px;
        height: 8px;
        left: 1px;
      }
      @include mobile {
        width: 6px;
        height: 6px;
      }
    }
  }
  &__docs-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 720px;
    @include tablet {
      gap: 16px;
    }
  }
  &__docs-btn {
    display: flex;
    align-items: center;
    gap: 40px;

    color: var(--main);
    font-size: 24px;
    line-height: 28px;
    transition: color 0.2s ease;

    @include hover {
      color: var(--dark-blue);
      // div {
      //   &::after {
      //     display: none;
      //   }
      // }
    }

    @include tablet {
      font-size: 16px;
      line-height: 20px;
      gap: 16px;
    }
    @include mobile {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    svg {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }
    div {
      position: relative;
      padding-left: 36px;
      @include tablet {
        padding-left: 26px;
      }
      @include mobile {
        padding-left: 21px;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        background-color: currentColor;
      }
      &::before {
        left: 13px;
        width: 10px;
        height: 10px;
        top: 7px;
        border-radius: 50%;

        @include tablet {
          width: 8px;
          height: 8px;
          left: 9px;
          top: 6px;
        }
        @include mobile {
          width: 5px;
          height: 5px;
          left: 8px;
          top: 6px;
        }
      }
      &::after {
        left: 0;
        right: 0;
        bottom: -2px;
        height: 1px;
        @include mobile {
          display: none;
        }
      }
    }
  }
}
