html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: linear-gradient(118deg, #febffe 9.96%, #002afc 83.59%);
  min-height: 100vh;
  font-family: "HelveticaNeue", sans-serif;
  color: var(--dark-blue);
}
