<footer
  class="footer sect-p"
>
  <picture class="footer__bg">
    <source srcset="@img/footer-bg-mob.jpg" media="(max-width:767px)">
    <img src="@img/footer-bg.jpg" alt="image">
  </picture>
  <div class="container">
    <div class="footer__body">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo-blue.svg" alt="logo" />
        </a>
        <p class="footer__main-content">
          © 2004 - 2025 ООО "Кораллдент" <br />
          Все права защищены. <br />
          <a href="tel:+79375061610">+7(937)506-16-10</a>
        </p>
      </div>
      <nav class="footer__nav">
        <h5 class="footer__title">О клинике:</h5>
        <ul class="list footer__list">
          <li><a href="#">Реквизиты</a></li>
          <li><a href="#">Лицензии</a></li>
          <li><a href="#">Информация для пациентов</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контролирующие организации</a></li>
          <li><a href="#">Обработка персональных данных</a></li>
          <li><a href="#">Документы онлайн</a></li>
        </ul>
      </nav>
      <div class="footer__contacts">
        <div class="footer__contacts-item">
          <h5 class="footer__title">Контакты:</h5>
          <ul class="list footer__contacts-list">
            <li>46-48-50</li>
            <li><a href="tel:+79375061610">+7(937)506-16-10</a></li>
          </ul>
        </div>
        <div class="footer__contacts-item">
          <h5 class="footer__title">График работы:</h5>
          <ul class="list footer__contacts-list">
            <li>пн - пт:8:00-20:00</li>
            <li>сб:8:00-19:00</li>
            <li>вс:Закрыто</li>
          </ul>
        </div>
        <a
          href="#consult-sect"
          data-anchor
          class="button-outline footer__contacts-btn"
          >Заказать звонок</a
        >
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-content">
        Обращаем Ваше внимание на то, что данный интернет-сайт носит
        исключительно информационный характер и ни при каких условиях не
        является публичной офертой, определяемой положениями ч. 2 ст. 437
        Гражданского кодекса Российской Федерации. Для получения подробной
        информации о стоимости, наименовании и сроках оказания услуг,
        пожалуйста, обращайтесь по контактным телефонам. Конкретный перечень
        услуг и порядок их предоставления определяется в договоре оказания
        услуг, оформляемым между клиникой и пациентом
      </p>
      <div class="footer__bottom-consult">
        ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, ТРЕБУЕТСЯ КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
      </div>
      <div class="footer__bottom-law">
        ( В соответствии с требованиями п.7 ст. 24 Закона о рекламе № 38-ФЗ от
        13.03.2006 г. )
      </div>
    </div>
  </div>
</footer>

<script src="./files/js/swiper.min.js"></script>
<script src="./files/js/fancybox.min.js"></script>
