<footer class="footer sect-p" style="background: url('@img/footer-bg.jpg') 0 0 / cover no-repeat;">
  <div class="container">
    <div class="footer__body">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo-blue.svg" alt="logo" />
        </a>
        <p class="footer__main-content">
          © 2004 - 2025 ООО "Кораллдент" <br />
          Все права защищены. <br />
          <a href="tel:+79375061610">+7(937)506-16-10</a>
        </p>
      </div>
      <nav class="footer__nav">
        <h5 class="footer__title">О клинике:</h5>
        <ul class="list footer__list">
          <li><a href="#">Реквизиты</a></li>
          <li><a href="#">Лицензии</a></li>
          <li><a href="#">Информация для пациентов</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контролирующие организации</a></li>
          <li><a href="#">Обработка персональных данных</a></li>
          <li><a href="#">Документы онлайн</a></li>
        </ul>
      </nav>
      <div class="footer__contacts">
        <div class="footer__contacts-item">
          <h5 class="footer__title">Контакты:</h5>
          <ul class="list footer__contacts-list">
            <li>46-48-50</li>
            <li><a href="tel:+79375061610">+7(937)506-16-10</a></li>
          </ul>
        </div>
        <div class="footer__contacts-item">
          <h5 class="footer__title">График работы:</h5>
          <ul class="list footer__contacts-list">
            <li>пн - пт:8:00-20:00</li>
            <li>сб:8:00-19:00</li>
            <li>вс:Закрыто</li>
          </ul>
        </div>
        <a href="#consult-sect" data-anchor class="button-outline footer__contacts-btn">Заказать звонок</a>
      </div>
    </div>
  </div>
</footer>

<script src="./files/js/swiper.min.js"></script>
<script src="./files/js/fancybox.min.js"></script>
