<div class="modal-doctor" id="modal-doctor">
  <div class="modal-doctor__close" data-fancybox-close></div>
  <div class="modal-doctor__gallery">
    <img src="@img/modal-doctor.png" alt="image" class="modal-doctor__img" />
    <div class="modal-doctor__rating">
      <span>5,0</span>
      <img src="@img/linear-star.svg" alt="icon" />
    </div>
  </div>
  <div class="modal-doctor__body">
    <p class="modal-doctor__content">
      Главный врач клиники, врач стоматолог-терапевт. <br />
      <strong>Опыт работы:</strong> с 1989 г.
    </p>
    <h5 class="modal-doctor__title">
      Вострикова <br />
      Ирина Алексеевна
    </h5>
    <div class="modal-doctor__item">
      <div class="modal-doctor__item-title">Образование:</div>
      <ul class="list modal-doctor__item-list">
        <li>
          Диплом Врач-стоматолог по специальности стоматология Волгоградский
          медицинский институт 23 июня 1989 г.
        </li>
      </ul>
    </div>
    <div class="modal-doctor__item">
      <div class="modal-doctor__item-title">Сертификаты специалиста:</div>
      <ul class="list modal-doctor__item-list">
        <li>
          Сертификат специалиста Стоматология терапевтическая НОЧУ ДПО
          «Медицинский стоматологический институт» от 27 сентября 2014 года
          протокол 33.
        </li>
        <li>
          Диплом Стоматология детская НОЧУ ДПО «Медицинский стоматологический
          институт» от 28 июня 2014 года.
        </li>
        <li>
          Диплом Организация здравоохранения и общественное здоровье НОЧУ ДПО
          «Медицинский стоматологический институт» от 28 декабря 2014 года.
        </li>
        <li>
          Сертификат специалиста по специальности «Организация здравоохранения и
          общественное здоровье» от 07.12.2019 года.
        </li>
        <li>
          Сертификат специалиста по специальности «Стоматология терапевтическая»
          от 31.08.2019 года.
        </li>
        <li>
          Удостоверение о повышении квалификации по специальности "Стоматология
          терапевтическая" от 02.08.2024 года.
        </li>
      </ul>
    </div>
    <div class="modal-doctor__item">
      <div class="modal-doctor__item-title">Профессиональные навыки:</div>
      <ul class="list modal-doctor__item-list">
        <li>Лечение кариеса</li>
        <li>Шинирование зубов</li>
        <li>Лечение пульпита</li>
        <li>Лечение зубов</li>
      </ul>
    </div>
    <div class="modal-doctor__item">
      <div class="modal-doctor__item-title">График работы:</div>
      <ul class="list modal-doctor__item-list">
        <li>ПН,СР, ЧТ четные числа 9.00 - 14.00</li>
        <li>Шинирование зубов</li>
        <li>Лечение пульпита</li>
        <li>Лечение зубов</li>
      </ul>
    </div>
    <form action="#" class="modal-doctor__form">
      <div class="modal-doctor__form-wrapper">
        <div class="modal-doctor__form-item">
          <input type="text" placeholder="Ваше имя:" class="input" />
        </div>
        <div class="modal-doctor__form-item">
          <input type="tel" placeholder="Телефон:" class="input" />
        </div>
      </div>
      <button class="button modal-doctor__btn">Записаться к врачу</button>
    </form>
    <p class="modal-doctor__form-policy">Заполняя форму, вы даёте согласие на обработку <a href="#">ваших Персональных данных</a></p>
  </div>
</div>
