<section class="s-about-gallery sect-p">
  <div class="container">
    <div class="content-block s-about-gallery__content-block" style="background: url('@img/about-gallery-bg.jpg') right bottom / cover no-repeat;">
      <div class="content-block__item">
        <div class="content-block__item-content">
          <h3>
            Coralldent – это семейная стоматология, где забота о здоровье зубов
            передается из поколения в поколение.
          </h3>
          <p>
            Мы оказываем комплексную стоматологическую помощь представителям
            всех возрастов – от малышей до бабушек и дедушек. Особенность нашей
            клиники в том, что каждый наш специалист воспитан и обучен под
            руководством главного врача Востриковой Ирины Алексеевны, что
            обеспечивает единый высокий стандарт лечения. Мы не являемся сетью
            или франшизой – наша клиника остается семейным делом, где каждая
            улыбка важна и драгоценна.В Coralldent мы сформировали собственную
            философию, которая меняет сознание пациентов и подход к сохранению
            собственного здоровья.
          </p>
        </div>
        <img
          src="@img/about-gallery-1.jpg"
          alt="image"
          class="content-block__item-img"
        />
      </div>
      <div class="content-block__item">
        <div class="content-block__item-content">
          <h3>
            Философия клиники Coralldent основана на нескольких ключевых
            принципах
          </h3>
          <p>
            Философия клиники Coralldent основана на нескольких ключевых
            принципах, которые определяют наш подход к лечению и взаимодействию
            с пациентами. Мы верим, что комплексное здоровье возможно только при
            совместной работе пациента и врача, где каждый играет важную роль в
            достижении желаемого результата.
          </p>
          <p>
            1. Комплексный и индивидуальный подход: <br />
            Мы рассматриваем здоровье зубов и полости рта как часть общего
            здоровья организма.
          </p>
          <p>
            2. Ранняя ортодонтия и профилактика: <br />
            Особое внимание уделяется раннему ортодонтическому лечению
          </p>
          <p>
            3. Семейный анамнез:
            <br />
            Сбор семейного анамнеза играет ключевую роль в концепции семейной
            стоматологии, обеспечивая эффективное лечение пациентов всех
            возрастов.
          </p>
          <p>
            4. Совместная работа врачей и пациентов: <br />
            В клинике Coralldent мы верим, что для достижения комплексного и
            устойчивого результата в лечении требуется активное участие и
            сотрудничество врачей и пациентов.
          </p>
        </div>
        <img
          src="@img/about-gallery-2.jpg"
          alt="image"
          class="content-block__item-img"
        />
      </div>
    </div>
  </div>
</section>
