<section class="s-care sect-p">
  <div class="container">
    <div class="s-care__item">
      <div class="s-care__item-body">
        <h3 class="sm-title s-care__item-title">Зубные щётки “Coralldent”</h3>
        <div class="s-care__item-price">Цена: 1000 P за 1 шт.</div>
        <ul class="list s-care__item-social">
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _wh">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _tg">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="tel:+79375061610" class="s-care__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tel"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <img src="@img/care.jpg" alt="image" class="s-care__item-img" />
    </div>
    <div class="s-care__item">
      <div class="s-care__item-body">
        <h3 class="sm-title s-care__item-title">
          Зубная паста “Montcarotte” ( вкусы: Бабл Гам, Виноградный бум)
        </h3>
        <div class="s-care__item-price">Цена: 1000 P за 1 шт.</div>
        <ul class="list s-care__item-social">
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _wh">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _tg">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="tel:+79375061610" class="s-care__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tel"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <img src="@img/care.jpg" alt="image" class="s-care__item-img" />
    </div>
    <div class="s-care__item">
      <div class="s-care__item-body">
        <h3 class="sm-title s-care__item-title">Зубные щётки “Coralldent”</h3>
        <div class="s-care__item-price">Цена: 1000 P за 1 шт.</div>
        <ul class="list s-care__item-social">
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _wh">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _tg">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="tel:+79375061610" class="s-care__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tel"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <img src="@img/care.jpg" alt="image" class="s-care__item-img" />
    </div>
    <div class="s-care__item">
      <div class="s-care__item-body">
        <h3 class="sm-title s-care__item-title">
          Зубная паста “Montcarotte” ( вкусы: Бабл Гам, Виноградный бум)
        </h3>
        <div class="s-care__item-price">Цена: 1000 P за 1 шт.</div>
        <ul class="list s-care__item-social">
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _wh">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="s-care__social-btn _tg">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="tel:+79375061610" class="s-care__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tel"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <img src="@img/care.jpg" alt="image" class="s-care__item-img" />
    </div>
  </div>
</section>
