<section class="s-content">
  <div class="container">
    <div class="sect-p">
      <div class="content-block">
        <div
          class="content-block__bg"
          style="
            background: linear-gradient(140deg, #0e2af3 1.87%, #ffc3fb 62.13%);
          "
        ></div>
        <div
          class="content-block__bg"
          style="
            background: linear-gradient(
              0deg,
              #febffe 30.46%,
              #b08ffa 36.85%,
              #625ff6 61.94%
            );
          "
        ></div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Где можно вылечить зубы в Астрахани?</h3>
            <p>
              Столкнувшись с зубной болью, многие люди начинают интересоваться,
              где можно вылечить зубы недорого. На сегодняшний день в городе
              функционирует множество частных и бесплатных клиник, в которые вы
              можете обратиться за помощью. Однако обратим ваше внимание, что в
              государственных клиниках зачастую используются не самые
              совершенные материалы, поэтому и срок службы пломб будет
              значительно отличаться.
            </p>
            <p>
              Если вы хотите, чтобы вам вылечили зубы качественно, безболезненно
              и недорого, то оптимальным решением станет обращение в нашу
              клинику «Кораллдент». Чтобы узнать, сколько стоит вылечить зуб,
              позвоните к нам по указанному телефону и запишитесь на прием к
              нашему стоматологу. Определить окончательные затраты на лечение
              можно только после визуального осмотра и диагностики. Стоимость
              лечения зависит от сложности и степени поражения.
            </p>
          </div>
          <img
            src="@img/content-1.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item _dark-white">
          <div class="content-block__item-content">
            <h3>Лечение зубов в Астрахани</h3>
            <p>
              Наша клиника осуществляет качественное и безболезненное лечение
              каналов корней зубов. Для обезболивания применяются безопасные,
              эффективные анестетики отечественных и зарубежных производителей –
              Убистезин, Ультракаин, Септанест и Сноу гель Z, который
              представляет собой аппликационную канадскую анестезию. Благодаря
              использованию эффективного анестетика при лечении каналов корней
              зубов вы не почувствуете ни малейшего дискомфорта и болевых
              ощущений.
            </p>
            <p>
              Лечение и пломбирование зубов в Астрахани осуществляется с помощью
              современного, передового оборудования.
            </p>
            <p>
              Для пломбирования зубов анестетики и композитный материал
              подбираются для каждого пациента индивидуально, исходя из
              показаний и противопоказаний к лечению. Пломба подбирается по
              естественному оттенку зубов, чтобы она смотрелась естественно и
              оставалась незаметной для окружающих людей.
            </p>
            <p>
              Если вы хотите знать, сколько стоит лечение зубов в нашей клинике,
              то ознакомиться со всеми расценками вы можете в соответствующем
              разделе на нашем сайте или позвонив в нашу стоматологию по
              указанному номеру. Стоимость лечения зубов в нашей клинике
              отличается своей доступностью. Если у вас несколько зубов,
              поврежденных кариесом, то мы можем предложить вам лечение зубов в
              рассрочку в Астрахани. Кроме того, постоянные пациенты могут
              рассчитывать на скидку в размере 10%.
            </p>
          </div>
          <img
            src="@img/content-2.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item _white-dark">
          <div class="content-block__item-content">
            <h3>Сколько стоит поставить пломбу на зуб?</h3>
            <p>
              Обращаясь в нашу клинику, вы можете быть уверены в высоком
              качестве лечения зубов, чутком и внимательном отношении,
              долговременности установленной пломбы. Мы устанавливаем
              светоотверждаемые пломбы, которые гарантированно держатся на зубах
              многие годы. При этом они не темнеют и отличаются минимальной
              усадкой.
            </p>
            <p>Спешите записаться на прием!</p>
          </div>
          <img
            src="@img/content-3.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
      </div>
    </div>
    <div class="sect-p">
      <div class="content-block">
        <div
          class="content-block__bg"
          style="
            background: linear-gradient(141deg, #0a1156 10.53%, #ffc3fb 89.85%);
          "
        ></div>
        <div
          class="content-block__bg"
          style="
            background: linear-gradient(
              179deg,
              #0a1156 -14.93%,
              #ffc3fb 82.18%
            );
          "
        ></div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Где можно вылечить зубы в Астрахани?</h3>
            <p>
              Столкнувшись с зубной болью, многие люди начинают интересоваться,
              где можно вылечить зубы недорого. На сегодняшний день в городе
              функционирует множество частных и бесплатных клиник, в которые вы
              можете обратиться за помощью. Однако обратим ваше внимание, что в
              государственных клиниках зачастую используются не самые
              совершенные материалы, поэтому и срок службы пломб будет
              значительно отличаться.
            </p>
            <p>
              Если вы хотите, чтобы вам вылечили зубы качественно, безболезненно
              и недорого, то оптимальным решением станет обращение в нашу
              клинику «Кораллдент». Чтобы узнать, сколько стоит вылечить зуб,
              позвоните к нам по указанному телефону и запишитесь на прием к
              нашему стоматологу. Определить окончательные затраты на лечение
              можно только после визуального осмотра и диагностики. Стоимость
              лечения зависит от сложности и степени поражения.
            </p>
          </div>
          <img
            src="@img/content-1.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Лечение зубов в Астрахани</h3>
            <p>
              Наша клиника осуществляет качественное и безболезненное лечение
              каналов корней зубов. Для обезболивания применяются безопасные,
              эффективные анестетики отечественных и зарубежных производителей –
              Убистезин, Ультракаин, Септанест и Сноу гель Z, который
              представляет собой аппликационную канадскую анестезию. Благодаря
              использованию эффективного анестетика при лечении каналов корней
              зубов вы не почувствуете ни малейшего дискомфорта и болевых
              ощущений.
            </p>
            <p>
              Лечение и пломбирование зубов в Астрахани осуществляется с помощью
              современного, передового оборудования.
            </p>
            <p>
              Для пломбирования зубов анестетики и композитный материал
              подбираются для каждого пациента индивидуально, исходя из
              показаний и противопоказаний к лечению. Пломба подбирается по
              естественному оттенку зубов, чтобы она смотрелась естественно и
              оставалась незаметной для окружающих людей.
            </p>
            <p>
              Если вы хотите знать, сколько стоит лечение зубов в нашей клинике,
              то ознакомиться со всеми расценками вы можете в соответствующем
              разделе на нашем сайте или позвонив в нашу стоматологию по
              указанному номеру. Стоимость лечения зубов в нашей клинике
              отличается своей доступностью. Если у вас несколько зубов,
              поврежденных кариесом, то мы можем предложить вам лечение зубов в
              рассрочку в Астрахани. Кроме того, постоянные пациенты могут
              рассчитывать на скидку в размере 10%.
            </p>
          </div>
          <img
            src="@img/content-2.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item _white-dark">
          <div class="content-block__item-content">
            <h3>Сколько стоит поставить пломбу на зуб?</h3>
            <p>
              Обращаясь в нашу клинику, вы можете быть уверены в высоком
              качестве лечения зубов, чутком и внимательном отношении,
              долговременности установленной пломбы. Мы устанавливаем
              светоотверждаемые пломбы, которые гарантированно держатся на зубах
              многие годы. При этом они не темнеют и отличаются минимальной
              усадкой.
            </p>
            <p>Спешите записаться на прием!</p>
          </div>
          <img
            src="@img/content-3.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
      </div>
    </div>
    <div class="sect-p">
      <div class="content-block">
        <div
          class="content-block__bg"
          style="
            background: linear-gradient(152deg, #c5e2ff 19.09%, #0e2af3 98.55%);
          "
        ></div>
        <div
          class="content-block__bg"
          style="
            background: linear-gradient(
              180deg,
              #c5e2ff 35.78%,
              #0e2af3 121.58%
            );
          "
        ></div>
        <div class="content-block__item _dark">
          <div class="content-block__item-content">
            <h3>Где можно вылечить зубы в Астрахани?</h3>
            <p>
              Столкнувшись с зубной болью, многие люди начинают интересоваться,
              где можно вылечить зубы недорого. На сегодняшний день в городе
              функционирует множество частных и бесплатных клиник, в которые вы
              можете обратиться за помощью. Однако обратим ваше внимание, что в
              государственных клиниках зачастую используются не самые
              совершенные материалы, поэтому и срок службы пломб будет
              значительно отличаться.
            </p>
            <p>
              Если вы хотите, чтобы вам вылечили зубы качественно, безболезненно
              и недорого, то оптимальным решением станет обращение в нашу
              клинику «Кораллдент». Чтобы узнать, сколько стоит вылечить зуб,
              позвоните к нам по указанному телефону и запишитесь на прием к
              нашему стоматологу. Определить окончательные затраты на лечение
              можно только после визуального осмотра и диагностики. Стоимость
              лечения зависит от сложности и степени поражения.
            </p>
          </div>
          <img
            src="@img/content-1.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item _white-dark">
          <div class="content-block__item-content">
            <h3>Лечение зубов в Астрахани</h3>
            <p>
              Наша клиника осуществляет качественное и безболезненное лечение
              каналов корней зубов. Для обезболивания применяются безопасные,
              эффективные анестетики отечественных и зарубежных производителей –
              Убистезин, Ультракаин, Септанест и Сноу гель Z, который
              представляет собой аппликационную канадскую анестезию. Благодаря
              использованию эффективного анестетика при лечении каналов корней
              зубов вы не почувствуете ни малейшего дискомфорта и болевых
              ощущений.
            </p>
            <p>
              Лечение и пломбирование зубов в Астрахани осуществляется с помощью
              современного, передового оборудования.
            </p>
            <p>
              Для пломбирования зубов анестетики и композитный материал
              подбираются для каждого пациента индивидуально, исходя из
              показаний и противопоказаний к лечению. Пломба подбирается по
              естественному оттенку зубов, чтобы она смотрелась естественно и
              оставалась незаметной для окружающих людей.
            </p>
            <p>
              Если вы хотите знать, сколько стоит лечение зубов в нашей клинике,
              то ознакомиться со всеми расценками вы можете в соответствующем
              разделе на нашем сайте или позвонив в нашу стоматологию по
              указанному номеру. Стоимость лечения зубов в нашей клинике
              отличается своей доступностью. Если у вас несколько зубов,
              поврежденных кариесом, то мы можем предложить вам лечение зубов в
              рассрочку в Астрахани. Кроме того, постоянные пациенты могут
              рассчитывать на скидку в размере 10%.
            </p>
          </div>
          <img
            src="@img/content-2.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Сколько стоит поставить пломбу на зуб?</h3>
            <p>
              Обращаясь в нашу клинику, вы можете быть уверены в высоком
              качестве лечения зубов, чутком и внимательном отношении,
              долговременности установленной пломбы. Мы устанавливаем
              светоотверждаемые пломбы, которые гарантированно держатся на зубах
              многие годы. При этом они не темнеют и отличаются минимальной
              усадкой.
            </p>
            <p>Спешите записаться на прием!</p>
          </div>
          <img
            src="@img/content-3.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
      </div>
    </div>
    <div class="sect-p">
      <div class="content-block">
        <div class="content-block__bg" style="background: #ffc3fb"></div>
        <div class="content-block__bg" style="background: #ffc3fb"></div>
        <div class="content-block__item _dark">
          <div class="content-block__item-content">
            <h3>Где можно вылечить зубы в Астрахани?</h3>
            <p>
              Столкнувшись с зубной болью, многие люди начинают интересоваться,
              где можно вылечить зубы недорого. На сегодняшний день в городе
              функционирует множество частных и бесплатных клиник, в которые вы
              можете обратиться за помощью. Однако обратим ваше внимание, что в
              государственных клиниках зачастую используются не самые
              совершенные материалы, поэтому и срок службы пломб будет
              значительно отличаться.
            </p>
            <p>
              Если вы хотите, чтобы вам вылечили зубы качественно, безболезненно
              и недорого, то оптимальным решением станет обращение в нашу
              клинику «Кораллдент». Чтобы узнать, сколько стоит вылечить зуб,
              позвоните к нам по указанному телефону и запишитесь на прием к
              нашему стоматологу. Определить окончательные затраты на лечение
              можно только после визуального осмотра и диагностики. Стоимость
              лечения зависит от сложности и степени поражения.
            </p>
          </div>
          <img
            src="@img/content-1.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item _dark">
          <div class="content-block__item-content">
            <h3>Лечение зубов в Астрахани</h3>
            <p>
              Наша клиника осуществляет качественное и безболезненное лечение
              каналов корней зубов. Для обезболивания применяются безопасные,
              эффективные анестетики отечественных и зарубежных производителей –
              Убистезин, Ультракаин, Септанест и Сноу гель Z, который
              представляет собой аппликационную канадскую анестезию. Благодаря
              использованию эффективного анестетика при лечении каналов корней
              зубов вы не почувствуете ни малейшего дискомфорта и болевых
              ощущений.
            </p>
            <p>
              Лечение и пломбирование зубов в Астрахани осуществляется с помощью
              современного, передового оборудования.
            </p>
            <p>
              Для пломбирования зубов анестетики и композитный материал
              подбираются для каждого пациента индивидуально, исходя из
              показаний и противопоказаний к лечению. Пломба подбирается по
              естественному оттенку зубов, чтобы она смотрелась естественно и
              оставалась незаметной для окружающих людей.
            </p>
            <p>
              Если вы хотите знать, сколько стоит лечение зубов в нашей клинике,
              то ознакомиться со всеми расценками вы можете в соответствующем
              разделе на нашем сайте или позвонив в нашу стоматологию по
              указанному номеру. Стоимость лечения зубов в нашей клинике
              отличается своей доступностью. Если у вас несколько зубов,
              поврежденных кариесом, то мы можем предложить вам лечение зубов в
              рассрочку в Астрахани. Кроме того, постоянные пациенты могут
              рассчитывать на скидку в размере 10%.
            </p>
          </div>
          <img
            src="@img/content-2.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item _dark">
          <div class="content-block__item-content">
            <h3>Сколько стоит поставить пломбу на зуб?</h3>
            <p>
              Обращаясь в нашу клинику, вы можете быть уверены в высоком
              качестве лечения зубов, чутком и внимательном отношении,
              долговременности установленной пломбы. Мы устанавливаем
              светоотверждаемые пломбы, которые гарантированно держатся на зубах
              многие годы. При этом они не темнеют и отличаются минимальной
              усадкой.
            </p>
            <p>Спешите записаться на прием!</p>
          </div>
          <img
            src="@img/content-3.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
      </div>
    </div>
    <div class="sect-p">
      <div class="content-block">
        <div class="content-block__bg" style="background: linear-gradient(180deg, #FFC3FB 0%, #0A1156 100%)"></div>
        <div class="content-block__bg" style="background: linear-gradient(0deg, #0A1156 0%, #9F7DBA 57.34%, #FFC3FB 94.22%)"></div>
        <div class="content-block__item _dark">
          <div class="content-block__item-content">
            <h3>Где можно вылечить зубы в Астрахани?</h3>
            <p>
              Столкнувшись с зубной болью, многие люди начинают интересоваться,
              где можно вылечить зубы недорого. На сегодняшний день в городе
              функционирует множество частных и бесплатных клиник, в которые вы
              можете обратиться за помощью. Однако обратим ваше внимание, что в
              государственных клиниках зачастую используются не самые
              совершенные материалы, поэтому и срок службы пломб будет
              значительно отличаться.
            </p>
            <p>
              Если вы хотите, чтобы вам вылечили зубы качественно, безболезненно
              и недорого, то оптимальным решением станет обращение в нашу
              клинику «Кораллдент». Чтобы узнать, сколько стоит вылечить зуб,
              позвоните к нам по указанному телефону и запишитесь на прием к
              нашему стоматологу. Определить окончательные затраты на лечение
              можно только после визуального осмотра и диагностики. Стоимость
              лечения зависит от сложности и степени поражения.
            </p>
          </div>
          <img
            src="@img/content-1.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Лечение зубов в Астрахани</h3>
            <p>
              Наша клиника осуществляет качественное и безболезненное лечение
              каналов корней зубов. Для обезболивания применяются безопасные,
              эффективные анестетики отечественных и зарубежных производителей –
              Убистезин, Ультракаин, Септанест и Сноу гель Z, который
              представляет собой аппликационную канадскую анестезию. Благодаря
              использованию эффективного анестетика при лечении каналов корней
              зубов вы не почувствуете ни малейшего дискомфорта и болевых
              ощущений.
            </p>
            <p>
              Лечение и пломбирование зубов в Астрахани осуществляется с помощью
              современного, передового оборудования.
            </p>
            <p>
              Для пломбирования зубов анестетики и композитный материал
              подбираются для каждого пациента индивидуально, исходя из
              показаний и противопоказаний к лечению. Пломба подбирается по
              естественному оттенку зубов, чтобы она смотрелась естественно и
              оставалась незаметной для окружающих людей.
            </p>
            <p>
              Если вы хотите знать, сколько стоит лечение зубов в нашей клинике,
              то ознакомиться со всеми расценками вы можете в соответствующем
              разделе на нашем сайте или позвонив в нашу стоматологию по
              указанному номеру. Стоимость лечения зубов в нашей клинике
              отличается своей доступностью. Если у вас несколько зубов,
              поврежденных кариесом, то мы можем предложить вам лечение зубов в
              рассрочку в Астрахани. Кроме того, постоянные пациенты могут
              рассчитывать на скидку в размере 10%.
            </p>
          </div>
          <img
            src="@img/content-2.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Сколько стоит поставить пломбу на зуб?</h3>
            <p>
              Обращаясь в нашу клинику, вы можете быть уверены в высоком
              качестве лечения зубов, чутком и внимательном отношении,
              долговременности установленной пломбы. Мы устанавливаем
              светоотверждаемые пломбы, которые гарантированно держатся на зубах
              многие годы. При этом они не темнеют и отличаются минимальной
              усадкой.
            </p>
            <p>Спешите записаться на прием!</p>
          </div>
          <img
            src="@img/content-3.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
      </div>
    </div>
    <div class="sect-p">
      <div class="content-block">
        <div class="content-block__bg" style="background: #0E2AF3"></div>
        <div class="content-block__bg" style="background: #0E2AF3"></div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Где можно вылечить зубы в Астрахани?</h3>
            <p>
              Столкнувшись с зубной болью, многие люди начинают интересоваться,
              где можно вылечить зубы недорого. На сегодняшний день в городе
              функционирует множество частных и бесплатных клиник, в которые вы
              можете обратиться за помощью. Однако обратим ваше внимание, что в
              государственных клиниках зачастую используются не самые
              совершенные материалы, поэтому и срок службы пломб будет
              значительно отличаться.
            </p>
            <p>
              Если вы хотите, чтобы вам вылечили зубы качественно, безболезненно
              и недорого, то оптимальным решением станет обращение в нашу
              клинику «Кораллдент». Чтобы узнать, сколько стоит вылечить зуб,
              позвоните к нам по указанному телефону и запишитесь на прием к
              нашему стоматологу. Определить окончательные затраты на лечение
              можно только после визуального осмотра и диагностики. Стоимость
              лечения зависит от сложности и степени поражения.
            </p>
          </div>
          <img
            src="@img/content-1.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Лечение зубов в Астрахани</h3>
            <p>
              Наша клиника осуществляет качественное и безболезненное лечение
              каналов корней зубов. Для обезболивания применяются безопасные,
              эффективные анестетики отечественных и зарубежных производителей –
              Убистезин, Ультракаин, Септанест и Сноу гель Z, который
              представляет собой аппликационную канадскую анестезию. Благодаря
              использованию эффективного анестетика при лечении каналов корней
              зубов вы не почувствуете ни малейшего дискомфорта и болевых
              ощущений.
            </p>
            <p>
              Лечение и пломбирование зубов в Астрахани осуществляется с помощью
              современного, передового оборудования.
            </p>
            <p>
              Для пломбирования зубов анестетики и композитный материал
              подбираются для каждого пациента индивидуально, исходя из
              показаний и противопоказаний к лечению. Пломба подбирается по
              естественному оттенку зубов, чтобы она смотрелась естественно и
              оставалась незаметной для окружающих людей.
            </p>
            <p>
              Если вы хотите знать, сколько стоит лечение зубов в нашей клинике,
              то ознакомиться со всеми расценками вы можете в соответствующем
              разделе на нашем сайте или позвонив в нашу стоматологию по
              указанному номеру. Стоимость лечения зубов в нашей клинике
              отличается своей доступностью. Если у вас несколько зубов,
              поврежденных кариесом, то мы можем предложить вам лечение зубов в
              рассрочку в Астрахани. Кроме того, постоянные пациенты могут
              рассчитывать на скидку в размере 10%.
            </p>
          </div>
          <img
            src="@img/content-2.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
        <div class="content-block__item">
          <div class="content-block__item-content">
            <h3>Сколько стоит поставить пломбу на зуб?</h3>
            <p>
              Обращаясь в нашу клинику, вы можете быть уверены в высоком
              качестве лечения зубов, чутком и внимательном отношении,
              долговременности установленной пломбы. Мы устанавливаем
              светоотверждаемые пломбы, которые гарантированно держатся на зубах
              многие годы. При этом они не темнеют и отличаются минимальной
              усадкой.
            </p>
            <p>Спешите записаться на прием!</p>
          </div>
          <img
            src="@img/content-3.jpg"
            alt="image"
            class="content-block__item-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
