<section class="s-consult sect-p">
  <div class="container">
    <div class="s-consult__body" style="background: url('@img/consult-bg.jpg') 0 0 / cover no-repeat;">
      <div class="s-consult__info">
        <h2 class="s-title s-consult__title">
          Запишитесь на приём в клинику <strong>Coralldent</strong>
        </h2>
        <p class="s-consult__content">
          Оставьте свои контактные данные и наш администратор свяжется с вами
          для подтверждения записи. Мы готовы позаботиться о здоровье ваших
          зубов и всей вашей семьи!
        </p>
      </div>
      <div class="s-consult__form-wrapper">
        <form action="#" class="s-consult__form">
          <div class="s-consult__form-item">
            <input type="text" placeholder="Ваше имя:" class="input">
          </div>
          <div class="s-consult__form-item">
            <input type="tel" placeholder="Телефон:" class="input">
          </div>
          <button class="button s-consult__form-btn">Записаться на приём</button>
        </form>
        <p class="s-consult__form-content">Заполняя форму, вы даёте согласие на обработку <a href="#">ваших Персональных данных</a></p>
      </div>
    </div>
  </div>
</section>
