<section class="s-doctors sect-p">
  <div class="container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-house"></use>
          </svg>
          <span>Главная</span>
        </a>
      </li>
      <li>Врачи</li>
    </ul>
    <h1 class="s-title s-intro__title">Наши врачи</h1>
    <div class="s-doctors__wrapper">
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Хирургия</li>
            <li>Имплантация</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Хирургия</li>
            <li>Имплантация</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Хирургия</li>
            <li>Имплантация</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Хирургия</li>
            <li>Имплантация</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Хирургия</li>
            <li>Имплантация</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
    </div>
  </div>
</section>
