<section class="s-faq sect-p _off-bg _pt-table-off">
  <div class="container">
    <div data-spollers class="s-faq__spollers">
      <div class="s-faq__spoller _blue">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>НОРМАТИВНО-ПРАВОВАЯ ИНФОРМАЦИЯ</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-docs">
            <div class="s-faq__docs-item">
              <h5 class="s-faq__docs-title">Взрослые документы к приему</h5>
              <ul class="list s-faq__docs-list">
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="s-faq__docs-item">
              <h5 class="s-faq__docs-title">Детские документы к приему</h5>
              <ul class="list s-faq__docs-list">
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller _blue">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>НОРМАТИВНО-ПРАВОВАЯ ИНФОРМАЦИЯ</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-docs">
            <ul class="list s-faq__docs-list">
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>Правила поведения пациента</div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>Правила поведения пациента</div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>Правила поведения пациента</div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller _blue">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>НОРМАТИВНО-ПРАВОВАЯ ИНФОРМАЦИЯ</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-docs">
            <div class="s-faq__docs-item">
              <h5 class="s-faq__docs-title">Взрослые документы к приему</h5>
              <ul class="list s-faq__docs-list">
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="s-faq__docs-item">
              <h5 class="s-faq__docs-title">Детские документы к приему</h5>
              <ul class="list s-faq__docs-list">
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller _blue">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>НОРМАТИВНО-ПРАВОВАЯ ИНФОРМАЦИЯ</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-docs">
            <ul class="list s-faq__docs-list">
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>Правила поведения пациента</div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>Правила поведения пациента</div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>Правила поведения пациента</div>
                </a>
              </li>
              <li>
                <a
                  href="@img/about-gallery-bg.jpg"
                  download
                  class="s-faq__docs-btn"
                >
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-download"></use>
                  </svg>
                  <div>
                    ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                    ВМЕШАТЕЛЬСТВО
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller _blue">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>НОРМАТИВНО-ПРАВОВАЯ ИНФОРМАЦИЯ</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-docs">
            <div class="s-faq__docs-item">
              <h5 class="s-faq__docs-title">Взрослые документы к приему</h5>
              <ul class="list s-faq__docs-list">
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="s-faq__docs-item">
              <h5 class="s-faq__docs-title">Детские документы к приему</h5>
              <ul class="list s-faq__docs-list">
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>Правила поведения пациента</div>
                  </a>
                </li>
                <li>
                  <a
                    href="@img/about-gallery-bg.jpg"
                    download
                    class="s-faq__docs-btn"
                  >
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-download"></use>
                    </svg>
                    <div>
                      ИНФОРМИРОВАННОЕ ДОБРОВОЛЬНОЕ СОГЛАСИЕ НА МЕДИЦИНСКОЕ
                      ВМЕШАТЕЛЬСТВО
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
