<section class="s-intro">
  <div class="container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-house"></use>
          </svg>
          <span>Главная</span>
        </a>
      </li>
      <li>Акции</li>
    </ul>
    <h1 class="s-title s-intro__title">Акции</h1>
    <div class="list s-intro__tags _hide">
      <button class="btn-reset s-intro__tag-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <a href="#">Установка брекет-системы Damon</a>
      <a href="#">Пенсионерам СКИДКА до 20 %</a>
      <a href="#">Утилизация старых зубных щёток</a>
      <a href="#">Подари любимым улыбку!</a>
      <a href="#">Для пациентов с брекет-системами</a>
    </div>
  </div>
</section>
