<section class="sect-p s-info-city">
  <div class="container">
    <div class="content-block">
      <div
        class="content-block__bg"
        style="
          background: linear-gradient(281deg, #febffe 27.44%, #002afc 109.16%);
        "
      ></div>
      <div
        class="content-block__bg"
        style="
          background: linear-gradient(274deg, #febffe 0.42%, #002afc 106.7%);
        "
      ></div>
      <div class="content-block__item">
        <div class="content-block__item-content">
          <h3>Где найти зубного врача в Астрахани?</h3>
          <p>
            Находясь в поисках стоматолога или зубного врача в Астрахани,
            следует понимать, что между этими специальностями существует
            определенная разница. Даже самый хороший зубной врач не может
            заменить ортодонта или ортопеда.
          </p>
          <p>
            Это более узкое направление деятельности и в его обязанности входят
            лишь некоторые функции стоматолога-терапевта: первичный осмотр
            пациента, лечение и удаление зубов. На сайте клиники «Кораллдент»
            можно записаться на прием к зубному врачу посредством специальной
            формы обратной связи. Наши операторы очень скоро перезвонят и
            ответят на все интересующие вас вопросы.
          </p>
        </div>
        <img
          src="@img/city-1.jpg"
          alt="image"
          class="content-block__item-img"
        />
      </div>
      <div class="content-block__item _dark-white">
        <div class="content-block__item-content">
          <h3>Стоматологи в Астрахани</h3>
          <p>
            В клинике «Кораллдент» оказывают высококачественные услуги одни из
            самых лучших стоматологов Астрахани по умеренным ценам. При подборе
            персонала здесь руководствуются принципами, которые помогают найти
            специалистов – настоящих мастеров своего дела.
          </p>
          <p><strong>Хороший врач стоматолог:</strong></p>
          <p>
            ориентируется на достижение идеального результата; постоянно
            совершенствует свое мастерство и находится в поисках новых решений;
            <br />
            посещает семинары, выставки, где происходит обмен опытом; находит
            подход к каждому пациенту и проявляет чуткость; выбирает лучший
            вариант лечения и четко понимает свою ответственность. <br />
            Найти такого зубного стоматолога несложно, если обратиться в
            клинику, где дорожат здоровьем и благополучием пациента и
            нацеливаются не на получение сверхприбыли, а на высокое качество по
            доступной цене.
          </p>
          <p>
            В услугах стоматолога нуждаются все, независимо от того, испытываете
            ли вы проблемы с зубами или обращаетесь в кабинет врача в целях
            профилактики. Несмотря на то, что государство предоставляет
            населению возможность лечиться бесплатно, многие предпочитают
            обращаться к платному стоматологу, ведь только так можно
            рассчитывать на индивидуальный и комплексный подход, высокий уровень
            сервиса, качество и эстетичность используемых материалов.
          </p>
          <p>
            Услуги стоматолога могут быть различного характера:
            терапевтического, эндодонтического, ортопедического и хирургического
            и т. д. Очень удобно, если в одной клинике работают специалисты
            самых разных направлений и можно быстро попасть на прием
            врача-стоматолога любого из них. Это позволяет экономить время,
            финансы и силы, что весьма важно для занятых людей.
          </p>
          <p>
            В стоматологической клинике «Кораллдент» такая возможность
            существует, как и то преимущество, что лечиться можно всей семьей,
            записавшись на консультацию и осмотр профессионального семейного
            стоматолога. В этом случае пациент вправе рассчитывать на доступные
            цены или скидки. Еще один плюс: пациент может записаться на прием к
            врачу-стоматологу через интернет.
          </p>
          <p>
            Поэтому, если вам необходим платный стоматолог в Астрахани, не стоит
            надолго затягивать поиски специалиста. Чтобы сделать запись на прием
            к врачу-стоматологу через интернет, достаточно воспользоваться
            представленной на сайте контактной формой.
          </p>
        </div>
        <img
          src="@img/city-3.jpg"
          alt="image"
          class="content-block__item-img"
        />
      </div>
      <div class="content-block__item _white-dark">
        <div class="content-block__item-content">
          <h3>Хороший дантист в Астрахани</h3>
          <p>
            Желая избавиться от зубной боли как можно скорее, человек в спешке
            может легко ошибиться в выборе клиники и столкнуться с
            недобросовестностью врачей. Как защитить себя от такого?
          </p>
          <p>
            Постарайтесь позаботиться об этом заблаговременно и найдите своего
            дантиста в Астрахани. Став постоянным пациентом нашей клиники, вы
            всегда можете рассчитывать на теплый прием и услуги дантиста
            высокого качества в условиях комфорта и 100% стерильности по
            доступной цене.
          </p>
        </div>
        <img
          src="@img/city-2.jpg"
          alt="image"
          class="content-block__item-img"
        />
      </div>
    </div>
  </div>
</section>
