<section
  class="s-faq sect-p"
  style="
    background: url(&quot;@img/faq-bg-min.jpg&quot;) top 0 right 0 / 100% auto
      no-repeat;
  "
>
  <picture class="s-faq__icon _questions">
    <source srcset="@img/tooth-half.png" media="(max-width: 1199px)" />
    <img src="@img/tooth-right-big.png" alt="icon" />
  </picture>
  <div class="container">
    <h2 class="s-title s-faq__title">Цены на лечение зубов в Астрахани</h2>
    <div data-spollers class="s-faq__spollers _border-pink">
      <div class="s-faq__spoller">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>Сильно болит зуб. Как снять боль? Можно хотя бы уменьшить ее, чтобы дотерпеть до визита к стоматологу?</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-body">
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  первичный</span
                >
                <span>1000 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  повторный</span
                >
                <span>500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у врача - стоматолога Казарян
                  Артема Хачатуровича</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у главного врача клиники
                  Востриковой Ирины Алексеевны</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>Крошатся зубы. Что делать, чтобы они перестали разрушаться?</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-body">
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  первичный</span
                >
                <span>1000 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  повторный</span
                >
                <span>500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у врача - стоматолога Казарян
                  Артема Хачатуровича</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у главного врача клиники
                  Востриковой Ирины Алексеевны</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>Выпала пломба из зуба, что делать до приема врача?</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-body">
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  первичный</span
                >
                <span>1000 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  повторный</span
                >
                <span>500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у врача - стоматолога Казарян
                  Артема Хачатуровича</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у главного врача клиники
                  Востриковой Ирины Алексеевны</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <button data-spoller class="btn-reset s-faq__spoller-btn">
          <div class="s-faq__spoller-btn-body">
            <span>Болит зуб под пломбой. Почему он болит и что делать?</span>
            <div class="s-faq__spoller-circle">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-w"></use>
              </svg>
            </div>
          </div>
        </button>
        <div>
          <div class="s-faq__spoller-body">
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  первичный</span
                >
                <span>1000 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) врача-стоматолога
                  повторный</span
                >
                <span>500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у врача - стоматолога Казарян
                  Артема Хачатуровича</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
            <div class="s-faq__spoller-item">
              <div class="s-faq__spoller-item-body">
                <span
                  >Прием (осмотр, консультация) у главного врача клиники
                  Востриковой Ирины Алексеевны</span
                >
                <span>1500 руб.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>