<section class="s-reviews sect-p">
  <div class="container s-reviews__container">
    <div class="s-reviews__head">
      <div class="s-reviews__head-info">
        <h2 class="s-title s-reviews__title">Отзывы</h2>
        <p class="s-reviews__content">
          Нам доверились уже 27 тысяч пациентов, включая семьи, представленные
          3-4 поколениями, и остались довольны. Также вы можете ознакомиться с
          отзывами на наших врачей на сайте
          <a href="#" target="_blank">prodoctorov.ru</a>
        </p>
      </div>
      <div data-da=".s-reviews__container, 1199" class="s-reviews__services">
        <a href="#" target="_blank" class="s-reviews__services-item">
          <div class="s-reviews__services-num">5,0</div>
          <p class="s-reviews__services-content">Наш рейтинг на ПроДокторов</p>
          <div class="s-reviews__services-stars">
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <img
            src="@img/reviews-1.png"
            alt="icon"
            class="s-reviews__services-icon"
          />
        </a>
        <a href="#" target="_blank" class="s-reviews__services-item">
          <div class="s-reviews__services-num">4,7</div>
          <p class="s-reviews__services-content">
            Наш рейтинг на Яндекс.Картах
          </p>
          <div class="s-reviews__services-stars">
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <img
            src="@img/reviews-2.png"
            alt="icon"
            class="s-reviews__services-icon"
          />
        </a>
        <a href="#" target="_blank" class="s-reviews__services-item">
          <div class="s-reviews__services-num">4,5</div>
          <p class="s-reviews__services-content">Наш рейтинг на 2ГИС</p>
          <div class="s-reviews__services-stars">
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <img
            src="@img/reviews-3.png"
            alt="icon"
            class="s-reviews__services-icon"
          />
        </a>
        <a href="#" target="_blank" class="s-reviews__services-item">
          <div class="s-reviews__services-num">4,1</div>
          <p class="s-reviews__services-content">Наш рейтинг на Google Maps</p>
          <div class="s-reviews__services-stars">
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star.svg" alt="icon" />
            <img src="@img/linear-star-outline.svg" alt="icon" />
          </div>
          <img
            src="@img/reviews-4.png"
            alt="icon"
            class="s-reviews__services-icon"
          />
        </a>
      </div>
    </div>
    <div data-da=".s-reviews__head, 1199" class="slider-nav s-reviews__slider-nav">
      <button class="slider-btn _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
      <button class="slider-btn _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
      </button>
    </div>
    <div class="swiper s-reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-date">3 апреля 2024</div>
          <h5 class="s-reviews__slide-title">Елена Щукина</h5>
          <p class="s-reviews__slide-content">
            Моя любимая клиника. Всегда с заботой о клиенте, узнают всех твоих
            детей и интересуются их здоровьем. Вежливость и профессионализм
            как визитная карточка. Можно довериться и не опасаться за здоровье
          </p>
          <div class="s-reviews__slide-tag">Стоматология</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-date">6 ноября  2022</div>
          <h5 class="s-reviews__slide-title">Елена Щукина</h5>
          <p class="s-reviews__slide-content">
            Вежливый персонал. Всегда напомнят о визите. Хорошие специалисты и
            оборудование. Ребёнок не боится стоматолога и это огромный плюс. А
            бонусом ещё и подарок можно выбрать после лечения зубов.
          </p>
          <div class="s-reviews__slide-tag">Детская стоматология</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-date">3 апреля 2024</div>
          <h5 class="s-reviews__slide-title">Елена Щукина</h5>
          <p class="s-reviews__slide-content">
            Моя любимая клиника. Всегда с заботой о клиенте, узнают всех твоих
            детей и интересуются их здоровьем. Вежливость и профессионализм
            как визитная карточка. Можно довериться и не опасаться за здоровье
          </p>
          <div class="s-reviews__slide-tag">Стоматология</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-date">6 ноября  2022</div>
          <h5 class="s-reviews__slide-title">Елена Щукина</h5>
          <p class="s-reviews__slide-content">
            Вежливый персонал. Всегда напомнят о визите. Хорошие специалисты и
            оборудование. Ребёнок не боится стоматолога и это огромный плюс. А
            бонусом ещё и подарок можно выбрать после лечения зубов.
          </p>
          <div class="s-reviews__slide-tag">Детская стоматология</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-date">3 апреля 2024</div>
          <h5 class="s-reviews__slide-title">Елена Щукина</h5>
          <p class="s-reviews__slide-content">
            Моя любимая клиника. Всегда с заботой о клиенте, узнают всех твоих
            детей и интересуются их здоровьем. Вежливость и профессионализм
            как визитная карточка. Можно довериться и не опасаться за здоровье
          </p>
          <div class="s-reviews__slide-tag">Стоматология</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-date">6 ноября  2022</div>
          <h5 class="s-reviews__slide-title">Елена Щукина</h5>
          <p class="s-reviews__slide-content">
            Вежливый персонал. Всегда напомнят о визите. Хорошие специалисты и
            оборудование. Ребёнок не боится стоматолога и это огромный плюс. А
            бонусом ещё и подарок можно выбрать после лечения зубов.
          </p>
          <div class="s-reviews__slide-tag">Детская стоматология</div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
