<section class="s-specialists sect-p">
  <div class="container">
    <div class="s-head">
      <h2 class="s-title">Наши стоматологи-терапевты</h2>
      <a href="#" class="button-outline s-specialists__btn">Все врачи</a>
    </div>
    <div class="s-specialists__body">
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Хирургия</li>
            <li>Имплантация</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
      <div data-fancybox data-src="#modal-doctor" class="doctor">
        <div class="doctor__gallery">
          <img src="@img/doctor.png" alt="image" class="doctor__img" />
          <div class="doctor__rating">
            <span>5,0</span>
            <img src="@img/linear-star.svg" alt="icon" />
          </div>
          <ul class="list doctor__list">
            <li>Терапия</li>
            <li>Пародонтология</li>
            <li>Стоматология для беременных</li>
          </ul>
        </div>
        <h5 class="doctor__title">
          Вострикова <br />
          Ирина Алексеевна
        </h5>
      </div>
    </div>
    <a href="#" class="button-outline s-specialists__btn-mobile">Все врачи</a>
  </div>
</section>
