<section class="s-tooth sect-p">
  <div class="container">
    <div
      class="content-block"
      style="
        background: url(&quot;@img/about-gallery-bg.jpg&quot;) right bottom /
          cover no-repeat;
      "
    >
      <div class="content-block__item">
        <div class="content-block__item-content">
          <h3>Лечение зубов</h3>
          <h4>
            Бережное лечение квалифицированными врачами с более чем 28-летним
            стажем работы. Пломбы с высокой прочностью и эстетикой.
          </h4>
          <p>
            Стоматологическая клиника «Кораллдент» предлагает качественное,
            безболезненное лечение зубов по доступной цене. Мы используем
            импортные пломбировочные материалы высокого качества, эффективные
            анестетики, которые обеспечивают безболезненность лечения зубов. У
            нас работают компетентные стоматологи-терапевты, которые имеют
            многолетний опыт работы. Лечение зубов уже давно не страшно и не
            больно, и мы Вам поможем в этом убедиться.
          </p>
        </div>
        <img
          src="@img/tooth-blue.jpg"
          alt="image"
          class="content-block__item-img"
        />
      </div>
      <div class="content-block__item _dark-white">
        <div class="content-block__item-content">
          <h3>Почему лечить зубы в Астрахани лучше в «Кораллдент»?</h3>
          <p>
            Если у вас болят зубы, и вы хотите их вылечить, но не можете
            определиться с выбором клиники, то лучшим решением станет обращение
            в нашу стоматологию «Кораллдент». Мы специализируемся на лечении
            зубов любой сложности. Лечить зубы в стоматологии «Кораллдент» не
            только выгодно, но и комфортно- все стоматологические кабинеты
            оборудованы современным оборудованием и установками.
          </p>
          <p>
            У нас можно вылечить зубы по цене ниже рыночной, при этом мы
            используем высококачественный пломбировочный материал импортного
            производства – Эстелайт, Капо, Харизма, Кор-ит, Бьютифул, Филтек.
            Пломбы подбираются исходя из индивидуальных особенностей пациента,
            показаний и естественного оттенка эмали зубов.
          </p>
          <p>
            Если вы уже решили, где лечить зубы в Астрахани, то, как можно
            скорее, звоните в нашу клинику и записывайтесь на прием к
            стоматологу-терапевту на удобное для вас время.
          </p>
          <p>
            <strong>Лечение зубов, показаных к удалению </strong>
          </p>
          <p>
            Не спешите удалять зуб! Часто бывает так,что врачи приговаривают зуб
            к удалению только потому, что не имею технической возможности
            попытаться сохранить зуб. Спасти зуб любой ценой - в нашей клинике
            есть для этого все возможности.
          </p>
          <p>
            Грамотный подход к эндодонтическому лечению в совокупности с большим
            опытом по спасению нежизнеспособных зубов - это шанс сохранить зуб,
            не прибегая к сложным хирургическим манипуляциям. Назначили удаление
            зуба? Проконсультируйтесь у нас. Возможно, это сохранит Вам зуб.
          </p>
        </div>
        <img src="@img/tools.jpg" alt="image" class="content-block__item-img" />
      </div>
    </div>
  </div>
</section>
