.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.button {
  cursor: pointer;
  text-align: center;
  position: relative;
  border-radius: 100px;
  border: none;
  padding: 16px 24px;

  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  z-index: 1;
  transition: color 0.3s ease;

  &::before,
  &::after {
    position: absolute;
    content: "";
    border-radius: 100px;
    inset: 0;
    transition:
      background-color 0.3s linear,
      border-color 0.3s linear;
  }
  &::before {
    background: linear-gradient(190deg, #808cf1 -5.76%, #0e2af3 88.47%);
    z-index: -2;
  }
  &::after {
    border: 3px solid transparent;
    z-index: -1;
  }
  @include hover {
    color: var(--main);
    &::after {
      background-color: white;
      border-color: var(--main);
    }
  }
  @include tablet {
    padding: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
