.sect-p {
  padding: 56px 0px;
  @include laptop-min {
    padding: 32px 0px;
  }
  @include tablet {
    padding: 24px 0px;
  }
}

.s-head {
  @include flex-between;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 24px;
  }

  .s-title {
    margin: 0 !important;
  }
}
